div.content{
      height: 922px;
      width: 922px;
      border-radius: 20px;
      float: left;
      margin: 20px;
}

div.mytext{

    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    
}

div#first{
    background-color: red;
    font-size: 8em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: white;
}

div#second{
    background-color: #ffc728;
    font-size: 8em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: white;
}

div#third{
    background-color: orange;
    font-size: 8em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: white;
}

div#fourth{
    background-color: blue;
    font-size: 8em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: white;
}