div.content{
      height: 922px;
      width: 922px;
      border-radius: 20px;
      float: left;
      margin: 20px;
}

div.mytext{

    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    
}

div#first{
    font-size: 8em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: white;
    background: #B3C7D8;
    background: -moz-linear-gradient(top, #B3C7D8 0%, #4B677F 100%);
    background: -webkit-linear-gradient(top, #B3C7D8 0%, #4B677F 100%);
}

div#second{
    font-size: 8em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: white;
    background: #CAA0EF;
    background: -moz-linear-gradient(top, #CAA0EF 0%, #4F0D89 100%);
    background: -webkit-linear-gradient(top, #CAA0EF 0%, #4F0D89 100%);
    
}

div#third{
    font-size: 8em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: white;
    background: #7CF47A;
    background: -moz-linear-gradient(top, #7CF47A 0%, #0C720A 100%);
    background: -webkit-linear-gradient(top, #7CF47A 0%, #0C720A 100%);
}

div#fourth{
    font-size: 8em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: white;
    background: #F2A371;
    background: -moz-linear-gradient(top, #F2A371 0%, #BA4801 100%);
    background: -webkit-linear-gradient(top, #F2A371 0%, #BA4801 100%);
}